/* elm-hot creates an additional div wrapper around the app to make HMR possible.
/* This could break styling in development mode if you are using Elm UI.

/* More context in the issue:
/*   https://github.com/halfzebra/create-elm-app/issues/320

[data-elm-hot="true"]
  height: inherit


body
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif
  margin: 0
  text-align: center
  color: #000000
/* #293c4b


h1
  font-size: 40px


img
  margin: 20px 0
  max-width: 200px
